PORT=8080
ENV="dev"
DATABASE_URL="postgresql://abhi:password@localhost:5432/olxapi?search_path=public&sslmode=disable"
REDIS_URL="redis://localhost:6379"

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=olxapi
LOG_FILE="./logs/app.jsonl"